* {
  box-sizing: border-box;
}

body {
  background: #121212;
  color: #f2eeee;
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6, p, span, b {
  color: #fff;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  width: 100%;
  padding: 0;
  margin: 0;
  max-width: 100%;
}

#root {
  width: 100%;       
  max-width: 1280px;
  margin: 0 auto;    
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
}

.app-container {
  max-width: 1000px;
  padding: 20px;
}

h1 {
  text-align: center;
  color: #2481de;
}


.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 20px;
}


.product-card {
  background-color: rgba(255,255,255,0.1);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255,255,255,0.2);
  border-radius: 16px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 0 10px rgba(2, 44, 144, 0.7),  
        0 0 20px rgba(41, 115, 226, 0.5),  
        0 0 40px rgba(41, 148, 236, 0.3),  
        0 0 80px rgba(41, 148, 236, 0.1);
  background-color: rgba(255,255,255,0.15);
}

.category {
  background: rgba(255,255,255, 0.2);
  color: #fff;
  font-size: 0.9em;
  display: inline-block;
  padding: 4px 8px;
  border-radius: 4px;
  margin-bottom: 10px;
}

button {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #2980b9;
}

.clear-btn {
  background-color: #e74c3c;
  margin-top: 15px;
  width: 100%;
}

.clear-btn:hover {
  background-color: #c0392b;
}

.navbar {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

  width: 95%;              
  max-width: 1000px;       
  height: 60px;          
  margin: 20px auto 40px;  
  border-radius: 100px;    
  padding: 0 30px;         
  
 
  display: flex;
  justify-content: space-between;
    align-items: center;     
  }
.cart-icon-btn {
  margin: 0; 
  padding: 8px 16px;
  font-size: 0.9rem;
  border-radius: 30px;
  background-color: transparent;
  backdrop-filter: blur(12px);
}

.navbar h1 {  
  font-size: 1.2rem;       
  margin: 0;              
  font-weight: 600;
             
}

.cart-sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 350px;
  height: 100vh; 
  background: rgba(255,255,255,0.1);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  box-shadow: -5px 0 15px rgba(0,0,0,0.1);
  padding: 20px;
  transform: translateX(100%); 
  transition: transform 0.3s ease-in-out;
  z-index: 1000; 
  display: flex;
  flex-direction: column;
}

.cart-sidebar.open {
  transform: translateX(0); 
}

.cart-header {
  border: 1px solid rgba(255,255,255,0.2);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.close-btn {
  background: transparent;
  color: #fff;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
  transition : color 0.2s;
}

.close-btn:hover {
  color: #e74c3c;
}

.cart-items {
  list-style: none;
  padding: 0;
  overflow-y: auto;
  flex-grow: 1; 
}

.cart-item {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid rgba(255,255,255,0.2);
}

.checkout-btn {
  background-color: #27ae60;
  width: 100%;
  margin-top: 10px;
}

.product-img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}